extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p 
      | A whole lot of generic text cngo here about stuff.
      | the pipe character does something like plain text??